<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Trump Ipsum</title>
	<link rel="stylesheet" href="/media/assets/css/main.css">
</head>
<body>
	<div class="trump-half trump-half__trump">
		<div class="trump-logo--stacked">
			{{> partials/trump-logo }}
		</div>
	</div>
	<div class="trump-half">
		<div class="trump-content">
			<div class="trump-logo">
				{{> partials/trump-logo-horizontal }}
			</div>
			<div class="trump-intro">
				<span class="trump-generate">Generate</span>
				All trump all the time
			</div>
			<select name="" id="trump-dropdown" class="trump-dropdown">
				<option value="1">1 Paragraph</option>
				<option value="2">2 Paragraph</option>
				<option value="3">3 Paragraph</option>
				<option value="4">4 Paragraph</option>
				<option value="5">5 Paragraph</option>
			</select>
			<div id="text">
				<p>
				Trump ipsum dolor rich amet, mark cuban is a great guy, sed no I beat China all the time. Ut fired ad minim the mexicans. Dos tupes, all the time nostrud exercitation. Ivanka is dateable. Donald screwed him, you’re not going to raise that. Stop the Ebola patients ex ea commodo - they’re great people. Excepteur a wall that will look good, non proident believe it or not. Can you believe it? All trump all the time.
				</p>
				<p>
				I’m really rich. George, I'm telling you, it's called management. You can do this and we can expedite the good ones to come back in. They haven’t figured that the women are smarter right now than the men, so, you know, it’s gonna take them about another 150 years. He’ll beg for a little while, and I’ll say, Sorry, no interest. I refuse to say that because I always insist on being politically correct.
				</p>
				<p>
				So under President Trump, here’s what would happen: I build nice fences, but I build great buildings. Because I don’t need anybody’s money. It’s nice. I don’t need anybody’s money. Can you believe it? All trump all the time.  And they are going to say, they are going to say to me, Mr. President, please, please, please while Bette Midler is an extremely unattractive woman Drumpf
				</p>
			</div>
		</div>
	</div>

	<script src="/media/assets/js/main.js" async></script>
</body>
</html>
